@tailwind base;
@tailwind components;
@tailwind utilities;


.announcement_banner_gradient {
    --tw-gradient-stops: #db7208 0.03%,#40bb7d 73.55%,#cb14ac 102.86%;
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
}
.button_primary {
    background: #230b59;
}
.button_primary:hover {
    background: blue;
}
.copy-body {
    font-family: Calibre,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 18px;
    line-height: 1.2;
}

.copy-h1-alt {
    font-family: GT Alpina,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 40px;
    line-height: .9;
    letter-spacing: -.05em;
    font-weight: 100;
}

.copy-h1 {
    font-size: 42.2px;
    line-height: .9;
    letter-spacing: -.03em;
    font-weight: 700;
}

.text-eggplant {
    --tw-text-opacity: 1;
    color: rgb(35 11 89/var(--tw-text-opacity));
}

.bg-fixed {
    background-attachment: fixed;
}
.to-ambient-orange {
    --tw-gradient-to: #f4b896;
}
.from-light-slate {
    --tw-gradient-from: #bdc6f5;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgb(189 198 245/0));
}
.bg-gradient-to-b {
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
}
.btn-bg-700 {
    background-color: rgb(30 41 59);
}